doctype html
html
    head
        title 
    body
      nav
        ul
          li
            a(href='/') Inicio
          li
            a(href='/medicos') Médicos
          li
            a(href='/turnos') Turnos
