doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Agenda San Luis, Capital
    body 
        h1 Bienvenido a la agenda de consultas San Luis 
            
        a(href="/medicos/medicosDesdePac") Ver lista de médicos(Administración)
